<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/expression/dsl/ExpressionDSL"
			class = "org.xtext.example.expression.dsl.expressionDSL.ExpressionDSLPackage"
			genModel = "model/generated/ExpressionDSL.genmodel" />
	</extension>
</plugin>
